@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-page-background;
}

.nav-bar {
  display: flex;
  color: $color-white;
  justify-content: flex-end;
  background-color: $color-input-background;
  padding-right: 1.6rem;

  .MuiSwitch-root {
    margin-top: 0.5rem !important;
  }
}